[submodule "fizzbuzz-PowerLevel9000"]
	path = fizzbuzz-PowerLevel9000
	url = https://github.com/microverse-students/fizzbuzz-PowerLevel9000
[submodule "anagram-PowerLevel9000"]
	path = anagram-PowerLevel9000
	url = https://github.com/microverse-students/anagram-PowerLevel9000.git
[submodule "palindrome-PowerLevel9000"]
	path = palindrome-PowerLevel9000
	url = https://github.com/microverse-students/palindrome-PowerLevel9000.git
[submodule "repeat-a-string-PowerLevel9000"]
	path = repeat-a-string-PowerLevel9000
	url = https://github.com/microverse-students/repeat-a-string-PowerLevel9000
[submodule "sum-all-odd-fibonacci-numbers-PowerLevel9000"]
	path = sum-all-odd-fibonacci-numbers-PowerLevel9000
	url = https://github.com/microverse-students/sum-all-odd-fibonacci-numbers-PowerLevel9000.git
[submodule "linked-lists-PowerLevel9000"]
	path = linked-lists-PowerLevel9000
	url = https://github.com/microverse-students/linked-lists-PowerLevel9000.git
[submodule "linked-lists-next-step-PowerLevel9000"]
	path = linked-lists-next-step-PowerLevel9000
	url = https://github.com/microverse-students/linked-lists-next-step-PowerLevel9000.git
